<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mingapiinterface.mapper.ApiStoryMapper">

    <resultMap id="BaseResultMap" type="com.ming.mingapiinterface.entity.ApiStory">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,content,update_time
    </sql>

    <select id="getOneByRandom" resultType="string">
        SELECT content
        FROM api_story AS t1
                 JOIN (SELECT ROUND(RAND() * (SELECT MAX(id)
                                              FROM api_story)) AS id) AS t2
        WHERE t1.id >= t2.id
        ORDER BY t1.id LIMIT 1;
    </select>
</mapper>
